body {
  font-family: 'Lora', serif;
  margin-bottom: 50px !important;
  color: #35495e
}

h1{
  color: #42b883;
  margin-bottom: 0px;
  font-size: 3em;
}

.description{
  color: #35495e;
}

p {
  color: #35495e;
}

input{
  margin-top: 10px;
}

.disclaimer{
  color: red;
  font-size: 10px;
  width: 50%;
  margin: auto;
  border: 2px solid red;
  padding: 5px;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 49%;
  padding: 10px
}

.image{
  max-width: 100%
}

.left-border {
  border-left: 2px solid #42b883
}

.center {
  text-align: center;
  width: 70%;
  margin: auto
}
